<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8" />
    <title>Selective Disclosure Demo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div style="max-width:1000px;margin:20px auto;">
    <h1>Verifiable Credentials</h1>

    <div th:if="${undisclosedFields != null}">
        <h2>Undisclosed Claims</h2>
        <p><span style="white-space: break-spaces" th:text="${undisclosedFields}">credential</span></p>
    </div>
    <div th:if="${disclosedFields != null}">
        <h2>Disclosed Claims</h2>
        <table>
            <tr>
                <th>Salt</th>
                <th>Claim</th>
                <th>Claim Value</th>
                <th>Digest (SHA-256)</th>
                <th>Disclosure</th>
            </tr>
        <tr th:each="disclosed : ${disclosedFields}">
            <td th:text="${disclosed.getSalt()}"></td>
            <td th:text="${disclosed.getClaimName()}"></td>
            <td th:text="${disclosed.getClaimValue()}"></td>
            <td th:text="${disclosed.digest()}"></td>
            <td th:text="${disclosed}"></td>
        </tr>
        </table>
    </div>
    <div th:if="${credentialJwt != null}">
        <h2>CredentialJWT</h2>
        <h3>Header</h3>
        <p><span style="white-space: break-spaces; line-break: normal" th:text="${credentialJwt.getHeader().toJSONObject()}">credential</span></p>
        <h3>Payload</h3>
        <p><span style="white-space: collapse; line-break: normal" th:text="${credentialJwt.getJWTClaimsSet().toJSONObject()}">credential</span></p>
        <h3>Disclosures</h3>
        <p><span style="white-space: break-spaces; line-break: normal" th:text="${disclosedFields}">credential</span></p>
    </div>
    <div th:if="${sdJwt != null}">
        <h2>SD-JWT</h2>
        <h3>Credential JWT</h3>
        <p><span style="white-space: wrap; line-break: anywhere" th:text="${sdJwt.getCredentialJwt()}">credential</span></p>
        <h3>Disclosures</h3>
        <p><span style="white-space: wrap; line-break: anywhere" th:text="${sdJwtDisclosures}">credential</span></p>
        <h3>SD JWT</h3>
        <p><span style="white-space: wrap; line-break: anywhere" th:text="${sdJwt.toString()}">credential</span></p>
    </div>
</div>
</body>
</html>
