<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>Selective Disclosure Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="container-fluid">
    <h1>Raw Issuer Credentials</h1>

    <div th:if="${identityCredentialSerialized != null}">
        <h2>Credentials</h2>
        <p><span style="white-space: pre-line" th:text="${identityCredentialSerialized}">credential</span></p>
    </div>
</div>
</body>
</html>
