<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>Selective Disclosure Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>

<div class="container-fluid">
    <h1>Verifiable Presentation</h1>
    <h2>Age Verification</h2>

    <div class="accordion" id="verifiablePresentation">

        <div th:if="${presentationSdJwt != null}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Presentation JWT
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                     data-bs-parent="#verifiablePresentation">
                    <div class="accordion-body">
                        <h3>Credential</h3>
                        <p><span style="white-space: break-spaces; line-break: normal"
                                 th:text="${presentationSdJwt.getCredentialJwt()}">credential</span></p>
                        <p><span style="white-space: break-spaces; line-break: normal"
                                 th:text="${@selectiveDisclosureService.getPresentationCredentialDecoded()}">credential (decoded)</span>
                        </p>

                        <h3>Disclosures</h3>
                        <ul th:each="disclosed : ${presentationSdJwt.getDisclosures()}">
                            <li th:utext="${disclosed} + '</br> Decoded:' + ${@selectiveDisclosureService.base64Decode(disclosed.getDisclosure())} + '</br> Salted Digest:' + ${disclosed.digest()}"></li>
                        </ul>
                        <h3>Binding</h3>
                        <p><span style="white-space: break-spaces; line-break: auto"
                                 th:text="${presentationSdJwt.getBindingJwt()}">binding</span></p>
                        <p><span style="white-space: break-spaces; line-break: normal"
                                 th:text="${@selectiveDisclosureService.getPresentationBindingDecoded()}">binding (decoded)</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div th:if="${serializedPresentationSdJwt != null}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        SD-JWT
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                     data-bs-parent="#verifiablePresentation">
                    <div class="accordion-body">
                        <h3>Presentation SD-JWT</h3>
                        <p><span style="white-space: wrap; line-break: anywhere"
                                 th:text="${serializedPresentationSdJwt}">presentation</span></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <h3>Age Verification Check</h3>
            <div th:if="${age_verification}" style="color: green">Verified: User is older than 18
                years
            </div>
            <div th:unless="${age_verification}" style="color: red">User is not older than 18
                years!
            </div>
        </div>

    </div>
</div>
</body>
</html>
